# Core functionality - changes here should be rare!
/src/app.py                   @y4ng2000
/src/backend/database.py      @y4ng2000
/src/backend/routers/auth.py  @y4ng2000

# The frontend will need refactored soon to be more object oriented.
/src/static/   @y4ng2000
